$accent = #1c90f3

.ad-pagetop
  background: #f8f8f8
  padding: 8px 16px
  border-radius: 4px
  color: $accent
  // text-align: center
  a
    display block
  span
    color: $accent
    display: inline-block
    &.name
      color: $accent
      font-size: 1.1em
    &.description
      margin-left: 0.8em
      font-size: 0.9em
      color: #666
      font-weight: normal
      &:after
        font-size .85em
        content "Sponsored"
        color $info
        border 1px solid $info
        border-radius 3px
        padding 0 4px 1px
        margin-left 1em
